{% extends "base_generic.html" %}

{% block content %}
    <h1>Список книг</h1>

    {% if book_list %}
    <ul>
    {% load el_pagination_tags %}
    {% paginate  book_list %}
      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
      {% endfor %}
{% get_pages %}
{{ pages.previous }} {{ pages.next }}
    </ul>
    {% else %}
      <p>В библиотеке нету книг :(</p>
    {% endif %}       
{% endblock %}